*{
    margin: 0;
    padding: 0;
}


.cabecalho{
    background-color: #3e4b51;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;

}

.cabecalho-imagem{
    width: 40%;
} 

.lista-item{

    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 25px;


}

.online{
    background-color: black;
    color: white;
}

.img1{
    width: 15%;
}

