*{
    margin: 0;
    padding: 0;
}

.cabeçalho{

    background-color: #3e4b51;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:   24px 0;
}


.cabeçalho-imagem{
  width: 10%;
 
}

.cabeçalho-lista-item{
display: inline-block;
margin: 0 16px;
}
