*{
    margin: 0;
    padding: 0;
}

.cabeçalho{

    background-color: #3e4b51;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:   34px 0;
}

.cabeçalho-imagem{

text-align: center;
 
}

.cabeçalho-lista-item{
display: inline-block;
margin: 0 16px;
}
